nav.site-navigation
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li
      a(data-scroll, href='index.pug#slider-section') Home
    //- li
    //-   a(data-scroll, href='#') Partners
    //- li
    //-   a(data-scroll, href='#') Apply
    