@import "./mixins";
#slider-section {
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::before {
    background-color: rgba(14, 8, 31, .8);
    content: " ";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
  #info-container {
    position: absolute;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 60px;
      @include my_bp(sm) {
        font-size: 80px;
      }
    }
  }
  img.slide {
    height: 100vh;
    width: auto;
    @include my_bp(sm) {
      height: auto;
      width: 100vw;
    }
  }
}

#title {
  width: 100%;
  height: 100vh;
  // overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &:after {
    content: "";
    display: block;
    width: 110%;
    background: url(../img/cloud.svg) repeat-x;
    background-size: contain;
    position: absolute;
    height: 200px;
    bottom: -115px;
    // transform: translateX(50px);
    animation: 30s infinite ease-in-out cloud;
    @include my_bp(sm) {
      bottom: -80px;
    }
  }
  @keyframes cloud {
    0% {
      transform: translate(10px);
    }
    50% {
      transform: translate(50px);
    }
    100% {
      transform: translate(10px);
    }
  }
  svg {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    @include my_bp(sm) {
      height: 100vh;
    }
    #Group_7 {
      animation: 15s infinite ease-in-out flag;
      transform-origin: top left;
    }
    @keyframes flag {
      0% {
        transform: translate(201.562px, 4.31px) rotateY(0deg) rotateZ(0deg);
      }
      50% {
        transform: translate(201.562px, 4.31px) rotateY(20deg) rotateZ(5deg);
      }
      100% {
        transform: translate(201.562px, 4.31px) rotateY(0deg) rotateZ(0deg);
      }
    }
    #bottom-clouds {
      // transform='translate(62.505 759.109)')
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
      animation: 50s infinite ease-in-out wave;
      transform-origin: bottom center;
    }
    @keyframes wave {
      0% {
        transform: translate(0px, 700px);
      }
      50% {
        transform: translate(80px, 700px);
      }
      100% {
        transform: translate(0px, 700px);
      }
    }
    // (transform='')
    #cloud-1 {
      animation: 10s infinite ease-in-out cloud1;
      transform-origin: center center;
    }
    @keyframes cloud1 {
      0% {
        transform: translate(564.667px, 450px) scale(.95);
      }
      50% {
        transform: translate(564.667px, 450px) scale(1);
      }
      100% {
        transform: translate(564.667px, 450px) scale(.95);
      }
    }
    // (transform='translate(49.672 421.462)')
    #cloud-2 {
      animation: 10s infinite ease-in-out cloud2;
      transform-origin: center center;
    }
    @keyframes cloud2 {
      0% {
        transform: translate(49.672px, 421.462px) scale(1);
      }
      50% {
        transform: translate(49.672px, 421.462px) scale(1.05);
      }
      100% {
        transform: translate(49.672px, 421.462px) scale(1);
      }
    }
  }
  #logo {
    position: absolute;
    top: 10px;
    left: 50px;
  }
  #main-heading {
    position: absolute;
    text-align: right;
    width: 100%;
    padding: 10px;
    @include my_bp(sm) {
      width: 50%;
      padding-right: 100px;
    }
    h1 {
      font-size: 50px;
      font-weight: normal;
      color: #f05e36;
      margin: 0;
      @include my_bp(sm) {
        font-size: 90px;
      }
    }
    h3 {
      font-size: 50px;
      font-weight: 700;
      color: #f05e36;
      @include my_bp(sm) {
        font-size: 80px;
      }
    }
    p {
      text-align: justify;
      padding: 10px;
      @include my_bp(sm) {
        padding-left: 120px;
      }
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      text-align: center;
      border-radius: 50px;
      border: 1px #f05e36 solid;
      color: #f05e36;
      transition: all .3s ease-in;
      &:hover {
        text-decoration: none;
        background: #f05e36;
        color: white;
      }
    }
  }
}

#timeline {
  background: #cae6ec;
  padding-top: 150px;
  h2 {
    font-weight: 700;
    color: #f05e36;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include my_bp(sm) {
      flex-direction: row;
    }
    .timeline-item {
      position: relative;
      background: white;
      box-shadow: 1px 1px 5px rgba(200, 200, 200, .5);
      margin: 5px;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 50px;
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 57px solid transparent;
        border-bottom: 58px solid transparent;
        border-left: 55px solid white;
        right: -55px;
      }
      h3 {
        font-weight: normal;
        font-size: 18px;
      }
      p {
        margin: 0;
      }
    }
  }
}

#speaker-section {
  .speaker-list {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    .speaker {
      width: 50%;
      margin-top: 50px;
      @include my_bp(sm) {
        width: 25%;
      }
      img {
        width: 160px;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 1px 1px 5px #666;
        cursor: pointer;
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        &:hover {
          padding: 2px;
          transform: translateY(-5px);
        }
      }
      .descp {
        padding-top: 10px;
        h4 {
          font-size: 18px;
          font-family: 'Blinker', sans-serif;
          font-weight: bold;
        }
        h5 {
          font-size: 14px;
          font-family: 'Blinker', sans-serif;
          margin: 0;
        }
      }
    }
  }
}