doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    include parts/menu.pug
    include parts/mixin.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#title
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1366' height='728' viewBox='0 0 1366 728')
        defs
          clippath#clip-path
            rect#Rectangle_1(data-name='Rectangle 1' width='1697.366' height='1120.527')
        g#succes-bg(transform='translate(-49.672 14) scale(.75)')
          g#Group_2(data-name='Group 2' transform='translate(62.508 -14)')
            g#Group_1(data-name='Group 1' clip-path='url(#clip-path)')
              path#back(d='M-149.7,755.732S-57.87,926.464,25.672,573.9c72.1-304.664,346.269-528.6,691.047-467.6,377.1,66.635,298.7,624.744,596.9,640.491,501.253,26.521,518.161,498.933,133.767,607.339-158.962,44.921-120.175-54.2-120.175-54.2l-1476.742-79.233V755.732Z' transform='translate(-98.44 63.28)' fill='#7ec3cf' opacity='0.4')
          g#cloud-1
            g#Group_3(data-name='Group 3' transform='translate(0 0)')
              circle#Ellipse_1(data-name='Ellipse 1' cx='84.537' cy='84.537' r='84.537' transform='translate(0 119.334) rotate(-21.297)' fill='#fff')
              circle#Ellipse_2(data-name='Ellipse 2' cx='108.074' cy='108.074' r='108.074' transform='translate(150.692 103.872) rotate(-20.401)' fill='#fff')
              circle#Ellipse_3(data-name='Ellipse 3' cx='74.591' cy='74.591' r='74.591' transform='translate(91.132 126.402) rotate(-57.92)' fill='#fff')
              circle#Ellipse_4(data-name='Ellipse 4' cx='61.331' cy='61.331' r='61.331' transform='translate(327.541 229.961) rotate(-66.191)' fill='#fff')
            path#Path_1(data-name='Path 1' d='M581.584,407.62a79.954,79.954,0,0,0-75.917,13.592A61.807,61.807,0,0,0,384,436.628c0,1.989.166,3.812.332,5.8a61.916,61.916,0,0,1,118.517-18.565,81.2,81.2,0,0,0-22.543,34.146,57.224,57.224,0,0,0-1.989,7.128,80.321,80.321,0,0,1,27.35-33.152,57.043,57.043,0,0,1,1.989,10.609c.166-1.823.332-3.812.332-5.8s-.166-3.978-.332-5.967a80.172,80.172,0,0,1,122,85.366,59.736,59.736,0,0,0,2.652-6.962A80.377,80.377,0,0,0,581.584,407.62Z' transform='translate(-252.646 -287.856)' fill='#7ec3cf' opacity='0.2')
          g#mountain(transform='translate(79.399 620.94)')
            path#Path_2(data-name='Path 2' d='M38.19,775.732S195.163,552.787,212.9,570.523s103.6-62.491,103.6-62.491,40.777-37.627,60.668-35.141,68.293-44.257,77.575-39.119,48.07-68.458,79.067-58.181,25.361,8.288,81.056,93.985c0,0,6.8-18.233,27.019,0s67.629,144.873,87.852,141.392c20.223-3.315,4.476-21.88,46.081,33.815S895.161,832.255,895.161,832.255L12,847.505Z' transform='translate(-12 -374.605)' fill='#512c25')
            path#Path_3(data-name='Path 3' d='M403.757,493.551h0a7.056,7.056,0,0,1,4.475,12.6l-31.494,25.527a7.143,7.143,0,0,0-.995,10.111l9.448,11.106a38.5,38.5,0,0,1-4.475,54.535L345.079,637.6a17.242,17.242,0,0,0,7.459,30h0a7.168,7.168,0,0,1,5.3,9.117l-6.133,19.725a80.266,80.266,0,0,1-42.1,48.733l-68.79,32.82A75.661,75.661,0,0,0,207,809.819l-17.9,32.157,589.437-10.111S700.8,700.087,659.191,644.392s-25.858-37.13-46.081-33.815-67.629-123.324-87.852-141.392c-20.223-18.233-27.019,0-27.019,0-55.695-85.7-50.059-83.708-81.056-93.985l21.383,30.665Z' transform='translate(104.458 -374.214)' fill='#512c25' opacity='0.28')
            path#Path_4(data-name='Path 4' d='M293.689,419.054s8.785,21.051,21.383,23.372a251.451,251.451,0,0,0,36.3,3.647S333.14,471.6,297.667,473.754c-14.752.829-48.567,37.13-48.567,37.13s11.106-53.54,16.576-65.143C267.831,440.6,282.915,405.3,293.689,419.054Z' transform='translate(143.913 -347.455)' fill='#512c25' opacity='0.28')
            path#Path_5(data-name='Path 5' d='M215.948,468.546s30.831,1.658,38.29-2.652c7.625-4.31,34.146-19.394,34.146-19.394s2.652,26.19-5.139,36.8c-5.636,7.791-37.959,29.505-62.822,36.8s-62.657,70.116-67.464,86.195,10.277-88.847,26.521-103.433C195.891,487.94,215.948,468.546,215.948,468.546Z' transform='translate(80.096 -327.329)' fill='#512c25' opacity='0.28')
          g#man(transform='translate(335.827 81.387)')
            path#Path_6(data-name='Path 6' d='M295.868,138.4S272,149.837,270.01,175.364c-1.492,19.228,2.984,32.654,15.084,39.948s22.046-12.929,22.046-12.929,3.812-13.592,4.144-15.084c.332-1.326-11.935-30.334-11.935-30.334Z' transform='translate(-98.947 9.622)' fill='#384760')
            path#Path_7(data-name='Path 7' d='M305.864,396.739s-5.8,19.891-5.138,28.013c.332,4.476-11.106.332-19.725-6.8L291.94,379.5Z' transform='translate(-91.538 168.166)' fill='#ffaa83')
            path#Path_8(data-name='Path 8' d='M308.886,180.428s-5.967,11.769-5.967,20.72c0,5.8,1.658,17.57,1.658,17.57L275.9,208.773v-6.8s8.288-21.383,7.625-27.019C283.193,169.157,308.886,180.428,308.886,180.428Z' transform='translate(-94.892 32.571)' fill='#ffaa83')
            g#Group_4(data-name='Group 4' transform='translate(172.886 367.486)')
              path#Path_9(data-name='Path 9' d='M336.475,284.392l29.173,9.945s-13.095,18.9-32.157,24.7-59.176-8.454-59.176-8.454L271,270.8Z' transform='translate(-271 -270.8)' fill='#384760')
              path#Path_10(data-name='Path 10' d='M336.475,284.392l29.173,9.945s-13.095,18.9-32.157,24.7-59.176-8.454-59.176-8.454L271,270.8Z' transform='translate(-271 -270.8)' fill='#384760' opacity='0.5')
            path#Path_11(data-name='Path 11' d='M314.134,269.846s38.622,45.252,54.2,75.42c15.416,30-13.261,41.771-49.23,14.753-47.075-35.307-61.828-66.635-45.584-85.366C289.768,256.088,314.134,269.846,314.134,269.846Z' transform='translate(-100.638 92.833)' fill='#1d8899')
            path#Path_12(data-name='Path 12' d='M222.688,396.671,214.4,460.82l24.366-9.614s6.8-45.915,9.117-54.369C250.038,388.217,222.688,396.671,222.688,396.671Z' transform='translate(-135.333 177.019)' fill='#ffaa83')
            path#Path_13(data-name='Path 13' d='M335.866,318.7s23.869.332,26.521,11.769-58.181,130.452-58.181,130.452L281,452.467S296.747,330.8,322.605,324.833,335.866,318.7,335.866,318.7Z' transform='translate(-91.538 128.185)' fill='#1d8899')
            path#Path_14(data-name='Path 14' d='M323.418,301.343s-57.684,114.871-62.159,92.493c-3.978-19.559-36.467,12.763-31.991-13.758s26.356-109.9,34.975-119.678C273.028,250.786,326.236,240.509,323.418,301.343Z' transform='translate(-125.834 85.04)' fill='#1d8899')
            path#Path_15(data-name='Path 15' d='M271.284,334.406s7.625,7.791,9.945,17.736c7.128,30.334-37.627,143.049-37.627,143.049s-20.223,5.139-30,.5c0,0,16.41-137.248,28.842-167.25C255.04,298.437,271.284,334.406,271.284,334.406Z' transform='translate(-135.859 126.734)' fill='#1d8899')
            path#Path_16(data-name='Path 16' d='M295.073,189.469s3.812,14.587,27.35,7.293c0,0,12.763,10.774,16.079,18.9s-4.807,113.71-4.807,113.71-2.486,16.41-33.317,13.758c-14.753-1.326-42.931-5.139-52.877-29.173l24.366-87.023S280.486,186.32,295.073,189.469Z' transform='translate(-113.567 43.09)' fill='#7ec3cf')
            g#Group_5(data-name='Group 5' transform='translate(184.942 241.842)' opacity='0.42')
              path#Path_17(data-name='Path 17' d='M288.263,195a56.038,56.038,0,0,1,1.492,8.951c.332,2.984.332,6.133.5,9.117,0,6.133-.332,12.1-.829,18.233-.995,12.1-2.984,24.035-4.807,36.135-1.989,11.935-3.481,24.035-4.475,35.97-.5,5.967-.995,12.1-.995,18.068a94.418,94.418,0,0,0,.995,18.068c-1.492-5.967-1.658-12.1-1.823-18.068-.166-6.133.166-12.1.5-18.233.829-12.1,2.321-24.2,4.144-36.135l2.984-17.9c.829-5.967,1.658-11.935,2.321-18.068a165.264,165.264,0,0,0,1.16-18.068c0-2.984,0-5.967-.166-9.117A52.825,52.825,0,0,0,288.263,195Z' transform='translate(-278.273 -195)' fill='#1d8899')
            path#Path_18(data-name='Path 18' d='M306.278,253.851,295.338,232.8s-4.31,59.673,6.465,77.243c7.956,12.929,17.57,18.068,36.633,14.753s-17.57-21.549-17.57-21.549Z' transform='translate(-82.67 71.698)' fill='#384760' opacity='0.5')
            path#Path_19(data-name='Path 19' d='M292.9,193.8c4.973,1.823,3.812,25.03,3.978,28.842.331,17.4-.829,34.644-.5,52.048.5,23.206,1.823,64.314,27.35,75.254,0,0,16.41,4.807,27.516-4.973,0,0-32.654-45.749-34.975-61.662C310.968,246.18,316.106,202.254,292.9,193.8Z' transform='translate(-83.713 46.052)' fill='#384760')
            path#Path_20(data-name='Path 20' d='M341.356,265s3.481,4.475,11.272,3.647c7.128-.663,16.742,5.138,11.6,5.47s-4.144,1.823-1.989,2.818c2.155.829,9.614,3.978,7.459,8.122-2.486,4.807-11.272,3.647-16.41,0-5.139-3.481-6.962-9.448-8.785-10.277s-11.106-5.138-11.106-5.138Z' transform='translate(-57.081 92.872)' fill='#ffaa83')
            path#Path_21(data-name='Path 21' d='M291.711,189.2s-9.946,27.019-13.261,42.434c-6.962,31.991-27.35,65.143-27.35,65.143a306.978,306.978,0,0,1,5.47-41.771C261.211,231.8,264.361,191.355,291.711,189.2Z' transform='translate(-111.2 43.028)' fill='#384760')
            path#Path_22(data-name='Path 22' d='M240.7,141.071l1.989-11.437s-5.3-15.084,2.486-19.891,10.609-8.454,15.747-3.647c6.465,6.133,4.31,14.255-.663,18.233-4.973,4.144-8.454,19.559-8.454,19.559Z' transform='translate(-118.039 -13.106)' fill='#ffaa83')
            path#Path_23(data-name='Path 23' d='M298,213.379V197.3s10.94,10.94,18.233,29.505c6.133,16.079,13.758,38.787,22.377,47.241,11.769,11.769,36.8,38.622,35.8,37.13l-5.967,11.437s-40.611-22.377-47.241-32.157c-6.8-9.78-18.565-34.146-18.565-34.146Z' transform='translate(-80.359 48.354)' fill='#384760')
            path#Path_24(data-name='Path 24' d='M304.6,216.5s.995,21.549,1.823,31c.663,6.8,1.326,15.084,1.326,15.084l4.807,8.785Z' transform='translate(-76.019 60.98)' fill='#384760' opacity='0.23')
            g#Group_6(data-name='Group 6' transform='translate(191.662 243.665)' opacity='0.5')
              path#Path_25(data-name='Path 25' d='M286.26,202.233l-.663-5.47-1.823-.663c-.5,11.437-4.144,24.035,2.486,33.815,5.8,8.619,16.742,16.41,40.611,20.554a62,62,0,0,1,9.283,2.652c-2.321-5.47-4.475-11.106-6.465-16.576-7.956-1.989-16.41-3.647-24.2-5.967C287.586,225.6,286.26,202.233,286.26,202.233Z' transform='translate(-282.327 -196.1)' fill='#384760' opacity='0.5')
            path#Path_26(data-name='Path 26' d='M264.264,127.141s-3.978,56.026-3.647,62.822c.5,6.8,22.543,40.279,40.777,43.429l-19.228,41.937-6.133-1.658s-44.921-61.165-43.926-80.227S243.378,122.5,243.378,122.5Z' transform='translate(-123.7 -0.833)' fill='#384760')
            path#Path_27(data-name='Path 27' d='M336.349,176.2c2.486,20.72-8.785,39.119-24.864,40.942S280.323,203.721,277.836,183s8.785-39.119,24.864-40.942C318.945,140.235,334.029,155.485,336.349,176.2Z' transform='translate(-93.845 11.931)' fill='#ffaa83')
            path#Path_28(data-name='Path 28' d='M282.8,185.166c-4.641-18.9,2.652-37.13,16.41-42.766-14.255,3.978-23.538,21.051-21.383,40.279,2.486,20.72,17.4,35.97,33.649,34.146a19.719,19.719,0,0,0,5.967-1.492C302.521,216.991,287.6,204.228,282.8,185.166Z' transform='translate(-93.831 12.253)' fill='#ffaa83' opacity='0.5')
            path#Path_29(data-name='Path 29' d='M286.306,196.432l-.166,2.818s1.989,26.024,20.223,30.334c19.228,4.475,42.766,5.47,52.711,17.073l3.481,8.454-8.951,4.144a47.338,47.338,0,0,0-24.7-11.106c-24.035-2.984-35.306-10.111-41.605-18.4-7.128-9.448-4.144-22.212-4.31-33.649' transform='translate(-90.545 47.565)' fill='#f05e36')
            path#Path_30(data-name='Path 30' d='M283.6,199.448l1.989-8.454,4.807.663L298.021,190l.995,6.3-7.791,5.967Z' transform='translate(-89.828 43.554)' fill='#7ec3cf')
            path#Path_31(data-name='Path 31' d='M290.389,201.592l-.829-9.448-2.652-.5L280.278,188l-3.978,4.973,3.978,8.951Z' transform='translate(-94.629 42.238)' fill='#7ec3cf')
            path#Path_32(data-name='Path 32' d='M282.923,191.4l6.63.663,1.326,2.652a3.565,3.565,0,0,1-.5,3.812l-3.149,3.812-2.984-.166-2.652-4.31a3.291,3.291,0,0,1,0-3.481Z' transform='translate(-91.472 44.474)' fill='#f05e36')
            path#Path_33(data-name='Path 33' d='M281.86,193.7s2.486,3.315,4.476,3.149a18.207,18.207,0,0,0,5.139-1.823l-1.823,2.984-2.155,2.652-2.984-.166-3.812-5.8Z' transform='translate(-91.735 45.987)' fill='#f05e36' opacity='0.5')
            path#Path_34(data-name='Path 34' d='M284.8,190.995l2.818,9.117,11.769-3.647L297.232,190Z' transform='translate(-89.039 43.554)' fill='#8ed5dd')
            path#Path_35(data-name='Path 35' d='M290.35,192.67l-5.3,8.785L275.1,190.681l3.647-3.481Z' transform='translate(-95.418 41.712)' fill='#8ed5dd')
            path#Path_36(data-name='Path 36' d='M305.707,170.609a14.061,14.061,0,0,1,4.31-3.978c3.315-1.823,8.951-3.647,14.587-.5,8.951,5.139,15.084,8.454,27.682,2.818,14.753-6.63,10.443-33.152-10.277-33.152-16.907,0-16.907,6.133-24.2,4.475s-12.432-4.475-23.7,0c-30.168,11.769-24.2,43.429-8.288,62.657,0,0-2.818-23.869,2.984-25.03C297.087,176.079,302.06,175.251,305.707,170.609Z' transform='translate(-97.017 7.913)' fill='#384760')
            line#Line_1(data-name='Line 1' y1='194.766' x2='285.768' transform='translate(0)' fill='none' stroke='#384760' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.28')
            path#Path_37(data-name='Path 37' d='M292.831,164.727s-3.315-11.272-9.283-8.785-8.288,17.57,1.492,17.9' transform='translate(-93.258 20.922)' fill='#ffaa83')
            path#Path_38(data-name='Path 38' d='M289.624,285.8,275.7,312.321s34.809,35.307,44.258,38.29l7.128-1.16s-18.4-22.377-23.04-30.168C292.773,300.553,289.624,285.8,289.624,285.8Z' transform='translate(-95.023 106.55)' fill='#384760' opacity='0.3')
            path#Path_39(data-name='Path 39' d='M274.27,219l-3.978,13.095S240.123,189.328,238.3,182.2C238.3,182.2,265.816,212.7,274.27,219Z' transform='translate(-119.617 38.424)' fill='#384760' opacity='0.23')
            path#Path_40(data-name='Path 40' d='M288.9,382.015S308.294,332.951,318.239,324l-6.962,1.492S296.856,337.592,288.9,382.015Z' transform='translate(-86.343 131.67)' fill='#384760' opacity='0.3')
            path#Path_41(data-name='Path 41' d='M226.9,431.812s-30.831,24.2-29.173,41.108,45.086-14.09,52.38-24.2-.331-20.72-.331-20.72S246.624,434.63,226.9,431.812Z' transform='translate(-146.34 200.059)' fill='#384760')
            path#Path_42(data-name='Path 42' d='M283.862,402.8s-6.962,3.647-6.962,13.758c0,14.587,36.633,37.959,49.4,34.146,10.443-2.984-22.709-41.274-22.709-41.274A23.325,23.325,0,0,1,283.862,402.8Z' transform='translate(-94.234 183.488)' fill='#384760')
            path#Path_43(data-name='Path 43' d='M296,433.9' transform='translate(-81.674 203.938)' fill='#512c25')
            g#Group_7(data-name='Group 7')
              path#Path_44(data-name='Path 44' d='M358.747,51.7s53.706,13.592,62.491,63.32c7.459,41.937,55.032,70.116,115.368,75.917L475.939,239.5s-83.376,13.758-106.914-48.567c-24.864-65.309-80.724-89.675-80.724-89.675Z' transform='translate(-288.3 -51.7)' fill='#f05e36')
              path#Path_45(data-name='Path 45' d='M517.791,164.165c-8.454,4.475-20.222,8.785-37.3,12.266-42.434,8.785-78.072-8.122-95.145-33.152-17.9-26.024-43.76-51.882-82.05-52.38a169.256,169.256,0,0,1,55.861,74.26c23.7,62.325,106.914,48.567,106.914,48.567l60.833-48.567C523.759,164.828,520.775,164.5,517.791,164.165Z' transform='translate(-278.436 -25.923)' fill='#f05e36' opacity='0.5')
            path#Path_46(data-name='Path 46' d='M251.774,104.924s7.293-5.8,8.288-1.492,1.989,14.752-4.807,19.725-13.095,8.288-13.758,4.475-.663-9.78,0-12.1C242.823,110.891,251.774,104.924,251.774,104.924Z' transform='translate(-117.841 -14.42)' fill='#ffaa83')
          g#cloud-2
            g#Group_12(data-name='Group 12' transform='translate(0)')
              circle#Ellipse_16(data-name='Ellipse 16' cx='65.143' cy='65.143' r='65.143' transform='translate(0 133.246) rotate(-51.023)' fill='#fff')
              circle#Ellipse_17(data-name='Ellipse 17' cx='83.211' cy='83.211' r='83.211' transform='translate(113.142 130.058) rotate(-51.398)' fill='#fff')
              circle#Ellipse_18(data-name='Ellipse 18' cx='57.518' cy='57.518' r='57.518' transform='translate(89.59 120.335) rotate(-82.467)' fill='#fff')
              path#Path_52(data-name='Path 52' d='M254.4,350.4a47.246,47.246,0,1,1-51.882-42.1A47.047,47.047,0,0,1,254.4,350.4Z' transform='translate(115.137 -218.893)' fill='#fff')
            path#Path_53(data-name='Path 53' d='M173.005,292.613a55.147,55.147,0,0,0-47.407,23.7A42.62,42.62,0,0,0,48.189,350.3a34.723,34.723,0,0,0,1.326,3.812,42.536,42.536,0,0,1,74.426-35.472,56.823,56.823,0,0,0-8.288,26.853v5.139a54.327,54.327,0,0,1,11.6-27.184,41.256,41.256,0,0,1,3.315,6.63,25.612,25.612,0,0,0-.995-3.812,37.3,37.3,0,0,0-1.326-3.978,55.066,55.066,0,0,1,96.969,32.654c.166-1.658.332-3.315.5-5.139A54.49,54.49,0,0,0,173.005,292.613Z' transform='translate(40.382 -229.066)' fill='#7ec3cf' opacity='0.2')
      
      #logo
        img(src="./img/logo.svg", alt="ksum logo")
      #main-heading
        h1 Fail Fast
        h3 OR Succeed
        p KSUM is organising a pre incubation program named “Fail Fast or Succeed” wherein any one with an innovative idea is given with an opportunity for interacting with Experts, Mentors in the field of Technology, Business, & Finance  which will help you to understand the Idea/Product Validation, Market opportunity & Scope for commercialisation.
        a.button(href="https://docs.google.com/forms/d/1qNE2HH66vxL_wg3rF2wSA_jM5aTaoWnZ4bapOXa3OiM/viewform" target="_blank") Apply Now

    //- section#timeline.section-content
    //-   .container
    //-     h2.text-center.mb-3 Timeline
    //-     .timeline
    //-       +timeline("9th January 2019", "Application Opening")              
    //-       +timeline("19th January 2019", "Closing of Application")              
    //-       +timeline("22nd January 2019", "Application Screening")              
    //-       +timeline("1st February 2019", "FFS Event Day")              
    
    #mentor-section          
      section.section-content#speaker-section
        .container
          h1.pb-3.text-center Mentors (FFS3)
          .speaker-list
            .speaker(v-for="(item, index) in ffs(3)" :key="index")
              a(:href="item.link" target="_blank")
                img(:src="'./'+(item.image?item.image:'dp.jpg')" alt="iedc summit speaker img")
              .descp
                h4 {{item.name}}
                h5 {{item.designation}}
                h5 {{item.company}}    

      section.section-content#speaker-section
        .container
          h1.pb-3.text-center Mentors (FFS2)
          .speaker-list
            .speaker(v-for="(item, index) in ffs(2)" :key="index")
              a(:href="item.link" target="_blank")
                img(:src="'./'+(item.image?item.image:'dp.jpg')" alt="iedc summit speaker img")
              .descp
                h4 {{item.name}}
                h5 {{item.designation}}
                h5 {{item.company}}
      
      section.section-content#speaker-section
        .container
          h1.pb-3.text-center Mentors (FFS1)
          .speaker-list
            .speaker(v-for="(item, index) in ffs(1)" :key="index")
              a(:href="item.link" target="_blank")
                img(:src="'./'+(item.image?item.image:'dp.jpg')" alt="iedc summit speaker img")
              .descp
                h4 {{item.name}}
                h5 {{item.designation}}
                h5 {{item.company}}

    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
